._Icon*
Icon*

*.DS_Store
*.tmp
*.swp

documentation/Gigadocs/*

###########################

## Python #################
# Compiled python code
*.pyc

# iPython checkpoints
.ipynb_checkpoints

## C++ ####################
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
